body {
  min-width: 1040px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #404040;

  background-color: white;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  min-height: 490px;
  padding-top: 35px;

  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-header,
.page-footer {
  color: #c3c3c3;

  background-color: #363636;
}

.header-top {
  margin-bottom: 125px;
}

.header-logo {
  float: left;
  width: 205px;
  height: 55px;
}

.main-nav {
  float: left;
  width: 520px;
  margin: 0;
  margin-left: 125px;
  padding: 0;

  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-right: 50px;
  text-transform: uppercase;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn {
  box-sizing: border-box;
  width: 170px;
  padding: 13px 0;
  border: 2px solid white;
  border-radius: 2px;
    
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.btn-ghost {
  color: #fff;  
}

.btn-ghost:hover{
  color: #404040;
  background-color: white;
}

.btn-ghost:active {
  color: rgba(64, 64, 64, 0.3);
}

.btn-brown-ghost {
  color: #a38b70;  
  border: 2px #a38b70 solid;
}

.btn-brown-ghost:hover{
  color: rgba(141, 116, 90, 1);
  background-color: white;
  
}

.btn-brown-ghost:active {
  color: rgba(141, 116, 90, 0.3);
  
}

.btn-quick-order {
  float: right;  
}

.promo {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  text-align: center;
}

.promo a {
  color: #ffffff;
  text-decoration: none;
}

.features {
  padding-top: 50px;
  padding-bottom: 55px;
}

.features ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  float: left;
  width: 279px;
  padding-top: 90px;
  padding-right: 30px;
  padding-left: 30px;

  text-align: center;

  border-left: 1px solid #d9d9d9;
}

.feature-item:first-child {
  border-left-color: transparent;
}

.feature-choice {
  background: url("../img/feature-1.png") top center no-repeat;
}

.feature-quality {
  background: url("../img/feature-2.png") top center no-repeat;
}

.feature-safety {
  background: url("../img/feature-3.png") top center no-repeat;
}

.feature-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.feature-item p {
  font-size: 16px;
}

.cat-reference {
  padding-top: 70px;
  padding-bottom: 90px;

  background-color: #f2f2f2;
}

.section-title {
  display: inline-block;
  margin: 0;
  
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.cat-reference dl {
  width: 820px;
}

.cat-reference dt {
  margin: 0;
  margin-bottom: 10px;
}

.cat-reference dd {
  margin: 0;
  font-size: 16px;
}

.cat-reference dd + dt {
  margin-top: 70px;
}

.cat-reference dd img {
  float: left;
  border-radius: 5px;
}

.cat-reference dd p {
  margin-left: 130px;
}

.reference-title {
  display: inline-block;
  margin: 0;
  font-size: 24px;
}

.reference-source {
  font-size: 16px;
  color: #666666;
  font-style: italic;
}

.reference-source a {
  color: #a38b70;
}

.reference-source a:hover {
  color: #8d745a;
}

.reference-source a:active {
  color: rgba(141, 116, 90, 0.3);
}

.reviews {
  padding-top: 70px;
  padding-bottom: 90px;
}

.reviews-list {
  margin-top: 60px;
}

.review-item {
  float: left;
  width: 370px;
  margin: 0;
  margin-right: 87px;
  padding: 0;
  padding-left: 50px;

  font-size: 16px;

  border-left: 3px solid #a38b70;
}

.review-item p{
  margin-top: 0;
  margin-bottom: 20px;
}

.review-author {
  font-weight: bold;
  font-style: italic;
}

.popular-and-price {
  padding-top: 70px;
  padding-bottom: 90px;

  background-color: #f2f2f2;
}

.popular-items {
  margin-top: 60px;
  margin-bottom: 50px;
}

.catalog-item {
  float: left;
  width: 306px;
  margin-right: 48px;
  border: 1px solid #d8d8d8;

  font-size: 16px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item img {
  max-width: 100%;
  height: auto;
}

.catalog-item-description,
.catalog-item-buttons {
  display: flex;  
  margin: 0 auto;
  width: 263px; 
  
}
.catalog-item-description {    
  justify-content: space-between;  
}

.catalog-item-buttons {  
  margin-bottom: 15px;  
}

.btn-info, .btn-buy {  
  width: 100%;  
  padding: 13px 0; 
  border-radius: 2px;
  
  background-color: #a38b71;
  color: white;
    
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;  
}

.btn-info:hover, .btn-buy:hover {
  background-color: #8d745a;
}

.btn-info:active, .btn-buy:active {
  color: #b4a597;
}

.btn-info {
  margin-right: 10px;
}

.catalog-item h3 {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  color: #000000;
}

.catalog-item b {
  margin-top: 10px;
}

.price-list {  
  width: 100%;
  margin-top: 65px;

  border-collapse: collapse;
  line-height: 30px;
}

.price-list .price-number {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  text-align: center;
}

.price-list .price-prof {
  width: 320px;
}

.price-list .price-cost {
  width: 150px;
}

.price-list .price-name {
  font-weight: bold;
  color: #000000;
}

.price-list th {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.price-list td {
  border: 1px solid #d8d8d8;
}

.price-list th,
.price-list td {
  padding: 5px 10px;
}

.feedback {
  padding-top: 60px;
  padding-bottom: 70px;
}

.feedback-tip {
  display: inline-block;
  vertical-align: top;
  float: right;
  font-size: 16px; 
}

.feedback-form {
  width: 630px;
  padding-right: 390px;
  margin-top: 60px;

  background: url("../img/write.jpg") no-repeat 100% 40px;
}

.feedback-form-group {
  padding: 10px 0;
}

.feedback-form-group label {
  
  font-size: 12px;
  line-height: 1em;
  text-transform: uppercase;
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
  font: inherit;
  color: inherit;

  margin-top: 8px;
  border: 2px solid #d5d5d5;
  height: 48px;
}

.feedback-form #fullname {
  width: 100%;
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
  border-color: #bebebe;
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
  border-color: #8d745a;
}

.checkbox-area {
  border-bottom: 1px solid #d5d5d5;
}

.page-footer {
  padding-top: 45px;
  padding-bottom: 50px;
}

.footer-top {
  margin-bottom: 45px;
}

.footer-logo {
  float: left;
  width: 205px;
  height: 55px;
}

.footer-middle {
  margin-bottom: 50px;
  padding-top: 50px;
}

.footer-middle,
.footer-bottom {
  border-top: 1px solid #5e5e5e;
}

.footer-menu {
  float: left;
  width: 150px;
  margin-right: 20px;
}

.footer-menu h3 {
  font-weight: bold;
  font-size: 24px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.footer-menu ul {
  list-style: none;
}

.footer-menu a {
  font-size: 16px;
  color: #c3c3c3;
  text-decoration: none;
}

.footer-menu a:hover {
  color: #ffffff;
}

.footer-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  padding-top: 50px;
}

.footer-social {
  float: left;
  width: 490px;
}

.footer-social b {
  font-size: 24px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.social-btn {
  color: #ffffff;
}

.footer-copyright {
  float: right;
  width: 236px;

  color: #ffffff;
  text-transform: uppercase;
}

.footer-copyright a {
  color: #ffffff;
  text-decoration: none;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: rgba(255, 255, 255, 0.3);
}
